@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: var(--family-font);
    box-sizing: border-box;

}

:root {
    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(0, 0, 0);

    --bg-dark: rgb(18, 18, 18);
    --bg-light: rgb(255, 255, 245);

    --family-font: "Roboto", sans-serif;

}

html {
    scroll-behavior: smooth;

}

body {
    inset: 0;
    margin: 0;
    padding: 0;
    font-family: var(--family-font);
    min-height: 200vh;
    background-color: var(--bg-dark);

}

ul {
    list-style: none;

}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4 {
    color: var(--text-light);

}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 2rem 7rem;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo {
    display: flex;
    position: relative;
    font-size: 30px;
    padding: 8px 12px;
    color: var(--text-light);
    border: 1px solid var(--text-light);
    border-radius: 5px;

}

.navbar .navbar-list {
    display: flex;

}

.navbar .navbar-list .navbar-li {
    display: flex;
    padding: 22px;

}

.navbar .nav-links {
    display: inline-block;
    color: var(--text-light);

}

.navbar .nav-links::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    opacity: 0;
    background-color: aqua;
    transition: .4s;

}
.navbar .nav-links:hover::after {
    opacity: 1;
    width: 100%;
}
.section {
    width: 100%;
    height: 100vh;

    position: relative;

}

.reveal {
    position: absolute;
    display: block;
    top: 100%;
    left: 0%;
    opacity: 0;
    transition: .8s;
}

.reveal.active {
    opacity: 1;
    left: 50%;
}